version: 2
updates:
  - package-ecosystem: gomod
    commit-message:
      prefix: "deps(go):"
    directory: "/"
    ignore:
      # Avoids unnecessarily auto-creating PRs for k8s dependencies, as these
      # will be closed since k8s dependencies need to be updated all at once
      # starting with kanister and go through additional validation.
      - dependency-name: "k8s.io/*"
      - dependency-name: "sigs.k8s.io/*"
    open-pull-requests-limit: 5
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
        - "actions/*"
        - "github/codeql-action"
      docker:
        patterns:
        - "docker/*"
  - package-ecosystem: docker
    directories:
    - "/docker/*"
    open-pull-requests-limit: 4
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
        - "*"
